*.*~
.classpath
cachedir/
*.dir
.directory
.DS_Store
.git
hs_err_pid*
.idea/
*.iml
.metadata
.project
.settings
*.svn
.vlt
.vlt*
atlassian-ide-plugin.xml
bin
cookies.txt
dependency-reduced-pom.xml
deps.txt
libs
RemoteSystemsTempFiles
settings-local.xml
target
WebContent
/.recommenders/
